# Pandas

### 1 Introduction to Pandas

* What is Pandas?
* Why use Pandas?
* Installing Pandas

### 2 Core Pandas Data Structures

* Series
* DataFrame

### 3 Data Import and Export

* Reading data from various file formats (CSV, Excel, JSON, etc.)
* Writing data to various file formats

### 4 Data Exploration and Analysis
* Head, tail
* Indexing and slicing data

### 5 Challenge

## Introduction to Pandas

### What is Pandas?
Pandas is an open-source Python library that provides easy-to-use and powerful data structures, as well as data analysis tools. The name "Pandas" is derived from the term "Panel Data," which is a term used in statistics and econometrics to describe multi-dimensional structured data sets. It was created by Wes McKinney in 2008 and has since become one of the most popular libraries for data manipulation and analysis in Python.


Pandas primarily offers two data structures: Series and DataFrame. A Series is a one-dimensional array-like object that can hold any data type, while a DataFrame is a two-dimensional tabular data structure with labeled axes (rows and columns). These data structures make it easy to manipulate, clean, and analyze data in Python.

### Why use Pandas?

Pandas is widely used because it offers several benefits for data analysis, including:

* Ease of use: Pandas provides an intuitive and user-friendly interface for working with data, making it accessible to both programmers and non-programmers alike.

    
    
* Flexibility: Pandas can handle data of various formats and types, including CSV, Excel, SQL, JSON, and more. It can work with data ranging from small to large datasets and can perform complex operations with minimal code.

    
    
* Efficiency: Pandas is built on top of NumPy, a powerful numerical computing library in Python, which allows for fast and efficient data manipulation and computation.

    
    
* Compatibility: Pandas integrates well with other Python libraries like Matplotlib and Seaborn for data visualization, and Scikit-learn for machine learning.

    
    
* Rich ecosystem: The Pandas library has a large and active community, which continuously contributes to its development, adding new features and improvements.

### Installing Pandas

NB : If you are working with Jupyter Notebook or Google Colab, Pandas  should already be installed.

To install Pandas, you can use the package manager pip (for Python 2) or pip3 (for Python 3). Open your terminal or command prompt and type the following command:

For those using Anaconda distribution, you can install Pandas using the conda package manager:

In [ ]:
conda install pandas

In [1]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\joy\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\joy\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in c:\users\joy\anaconda3\lib\site-packages (from pandas) (1.23.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\joy\appdata\roaming\python\python39\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\joy\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

Once the installation is complete, you can verify the installation by importing Pandas in your Python script or Jupyter Notebook:

In [2]:
import numpy as np
import pandas as pd

The pd alias is a convention used by the Pandas community to simplify the usage of Pandas functions and methods.

In [ ]:
NUMPY == DATA STRUCTURE  -> ARRAY

DIMENSIONS

1D ARRAY - VECTOR - LIST
2D ARRAY - MATRIX - TABLE
3D ARRAY - TENSOR

PANDAS == DATA STRUCTURE - TABULAR DATA

1D - SERIES  - COLUMN/LIST
2D - DATAFRAME - TABLE
3D - PANEL - TENSOR

## Core Pandas Data Structures

Pandas provides two primary data structures: Series and DataFrame. These data structures are designed to handle a wide variety of data types and formats, making it easy to work with and manipulate data in Python.

### Series

A Series is a one-dimensional, labeled array capable of holding any data type (integers, strings, floats, Python objects, etc.). It has an index that labels each element in the vector. You can think of a Series as similar to a Python list with labels for each element.

#### Creating a Series

You can create a Series by passing a list of values and, optionally, an index. If you don't provide an index, Pandas will create a default integer index ranging from 0 to the length of the data minus one.

In [ ]:
{Key: [list of values]}

In [ ]:
{'Name': ['ADS', 'AD' , 'Ann']}

In [5]:
import pandas as pd

# Creating a Series with default index
data = [4, 7, -5, 3]
s1 = pd.Series(data)
# print(s1)

# Creating a Series with a custom index
index = ['a', 'b', 'c', 'd']
s2 = pd.Series(data, index=index)
print(s2)

a    4
b    7
c   -5
d    3
dtype: int64

### DataFrame
A DataFrame is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns). You can think of a DataFrame as a table in a spreadsheet, where data is organized in rows and columns.

#### Creating a DataFrame
There are multiple ways to create a DataFrame. Some common ways include:

* From a Series
* Reading data from external sources (CSV, Excel, JSON, etc.)

 From a Series

In [6]:
import pandas as pd

s1 = pd.Series([25, 30, 35, 40], name='age')
s2 = pd.Series(['New York', 'San Francisco', 'Los Angeles', 'Chicago'], name='city')

df = pd.concat([s1, s2], axis=1)
print(df)

   age           city
0   25       New York
1   30  San Francisco
2   35    Los Angeles
3   40        Chicago

From a dictionary

In [7]:
students = {'Name': ['Mary', 'Mart', 'Matt', 'Ann', 'ADS', 'Joe', 'John'],
            'Marks': [22, 29, 89, 57 , 85 , 75 ,92],
            'City':['New York', 'San Francisco', 'Los Angeles', 'Chicago','New York', 'San Francisco', 'Los Angeles']}

In [8]:
students

{'Name': ['Mary', 'Mart', 'Matt', 'Ann', 'ADS', 'Joe', 'John'],
 'Marks': [22, 29, 89, 57, 85, 75, 92],
 'City': ['New York',
  'San Francisco',
  'Los Angeles',
  'Chicago',
  'New York',
  'San Francisco',
  'Los Angeles']}

In [14]:
df1 = pd.DataFrame(students)

In [10]:
df1

   Name  Marks           City
0  Mary     22       New York
1  Mart     29  San Francisco
2  Matt     89    Los Angeles
3   Ann     57        Chicago
4   ADS     85       New York
5   Joe     75  San Francisco
6  John     92    Los Angeles

### Working with existing data

### pd.read_ - open/load a file from your pc/elsewhere depedning on the format

file formats

* csv - comma separated values
* excel - spreadsheets
* json -  popular data format in websites
* html - table from web

## pd.read_format()


### Issues : Be keen about file path

path - exactly which folder is your file in 

e.g: is it Downloads or Documents , is it in another local disk?

In [67]:
import pandas as pd
#r'C:\Users\JOY\Music\listings.csv'
#'C:\\Users\\JOY\\Music\\listings.csv'
#'C:/Users/JOY/Music/listings.csv'

file_path = 'C:\\Users\\JOY\\Documents\\listings.csv'
df = pd.read_csv(file_path)
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2818,Quiet Garden View Room & Super Fast Wi-Fi,3159,Daniel,NaN,Oostelijk Havengebied - Indische Buurt,52.364350,4.943580,Private room,69,3,322,2023-02-28,1.90,1,44,37,0363 5F3A 5684 6750 D14D
1,20168,Studio with private bathroom in the centre 1,59484,Alexander,NaN,Centrum-Oost,52.364070,4.893930,Private room,106,1,339,2020-04-09,2.14,2,0,0,0363 CBB3 2C10 0C2A 1E29
2,27886,"Romantic, stylish B&B houseboat in canal district",97647,Flip,NaN,Centrum-West,52.387610,4.891880,Private room,143,3,248,2023-02-26,1.82,1,14,20,0363 974D 4986 7411 88D8
3,28871,Comfortable double room,124245,Edwin,NaN,Centrum-West,52.367750,4.890920,Private room,76,2,476,2023-02-28,3.12,2,79,97,0363 607B EA74 0BD8 2F6F
4,29051,Comfortable single room,124245,Edwin,NaN,Centrum-Oost,52.365840,4.891110,Private room,56,2,618,2023-03-03,4.23,2,69,85,0363 607B EA74 0BD8 2F6F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6993,842462220391708128,Flat in the center of Amsterdam,47205615,Edgar,NaN,Centrum-Oost,52.359386,4.893717,Entire home/apt,450,1,0,NaN,NaN,1,70,0,0363 80A2 E913 8FAD A98A
6994,842493348876281257,3bed ark close to city centre,454835217,Barbara,NaN,Oud-Noord,52.401950,4.902256,Entire home/apt,360,2,0,NaN,NaN,1,357,0,0363 B755 6BD8 6F8D AA7F
6995,842634905680862660,ground floor studio 46m2 at boulevard & canal,504448710,Ivanka,NaN,Oud-Noord,52.393502,4.899826,Entire home/apt,92,3,0,NaN,NaN,1,67,0,0363 76A0 B46B 281A C38E
6996,842713539293550316,Oasis in trendy Amsterdam East,17537276,Thomas,NaN,Watergraafsmeer,52.351350,4.920430,Entire home/apt,250,1,0,NaN,NaN,1,315,0,0363 97C2 71FF 5383 DC95
6997,842754604161195632,Penthouse Loft with a View,20336096,Sean,NaN,Oud-Noord,52.388888,4.922216,Entire home/apt,333,2,0,NaN,NaN,1,5,0,0363 A514 512A A671 03A3

#### What to do with loaded data?

* `DataFrame.head()` : Check first 5 rows
* `DataFrame.tail()` : Check last 5 rows
* `DataFrame.head(50)` : Check first 50 rows
* `DataFrame.tail(50)` : Check first 50 rows
* `DataFrame.shape` : Check how many rows and columns
* `DataFrame.info()` :Check detailed summary

In [28]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2818,Quiet Garden View Room & Super Fast Wi-Fi,3159,Daniel,NaN,Oostelijk Havengebied - Indische Buurt,52.364350,4.943580,Private room,69,3,322,2023-02-28,1.90,1,44,37,0363 5F3A 5684 6750 D14D
1,20168,Studio with private bathroom in the centre 1,59484,Alexander,NaN,Centrum-Oost,52.364070,4.893930,Private room,106,1,339,2020-04-09,2.14,2,0,0,0363 CBB3 2C10 0C2A 1E29
2,27886,"Romantic, stylish B&B houseboat in canal district",97647,Flip,NaN,Centrum-West,52.387610,4.891880,Private room,143,3,248,2023-02-26,1.82,1,14,20,0363 974D 4986 7411 88D8
3,28871,Comfortable double room,124245,Edwin,NaN,Centrum-West,52.367750,4.890920,Private room,76,2,476,2023-02-28,3.12,2,79,97,0363 607B EA74 0BD8 2F6F
4,29051,Comfortable single room,124245,Edwin,NaN,Centrum-Oost,52.365840,4.891110,Private room,56,2,618,2023-03-03,4.23,2,69,85,0363 607B EA74 0BD8 2F6F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6993,842462220391708128,Flat in the center of Amsterdam,47205615,Edgar,NaN,Centrum-Oost,52.359386,4.893717,Entire home/apt,450,1,0,NaN,NaN,1,70,0,0363 80A2 E913 8FAD A98A
6994,842493348876281257,3bed ark close to city centre,454835217,Barbara,NaN,Oud-Noord,52.401950,4.902256,Entire home/apt,360,2,0,NaN,NaN,1,357,0,0363 B755 6BD8 6F8D AA7F
6995,842634905680862660,ground floor studio 46m2 at boulevard & canal,504448710,Ivanka,NaN,Oud-Noord,52.393502,4.899826,Entire home/apt,92,3,0,NaN,NaN,1,67,0,0363 76A0 B46B 281A C38E
6996,842713539293550316,Oasis in trendy Amsterdam East,17537276,Thomas,NaN,Watergraafsmeer,52.351350,4.920430,Entire home/apt,250,1,0,NaN,NaN,1,315,0,0363 97C2 71FF 5383 DC95
6997,842754604161195632,Penthouse Loft with a View,20336096,Sean,NaN,Oud-Noord,52.388888,4.922216,Entire home/apt,333,2,0,NaN,NaN,1,5,0,0363 A514 512A A671 03A3

In [ ]:
df.loc[]
df.iloc[]

In [31]:
df.head(15)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2818,Quiet Garden View Room & Super Fast Wi-Fi,3159,Daniel,NaN,Oostelijk Havengebied - Indische Buurt,52.364350,4.943580,Private room,69,3,322,2023-02-28,1.90,1,44,37,0363 5F3A 5684 6750 D14D
1,20168,Studio with private bathroom in the centre 1,59484,Alexander,NaN,Centrum-Oost,52.364070,4.893930,Private room,106,1,339,2020-04-09,2.14,2,0,0,0363 CBB3 2C10 0C2A 1E29
2,27886,"Romantic, stylish B&B houseboat in canal district",97647,Flip,NaN,Centrum-West,52.387610,4.891880,Private room,143,3,248,2023-02-26,1.82,1,14,20,0363 974D 4986 7411 88D8
3,28871,Comfortable double room,124245,Edwin,NaN,Centrum-West,52.367750,4.890920,Private room,76,2,476,2023-02-28,3.12,2,79,97,0363 607B EA74 0BD8 2F6F
4,29051,Comfortable single room,124245,Edwin,NaN,Centrum-Oost,52.365840,4.891110,Private room,56,2,618,2023-03-03,4.23,2,69,85,0363 607B EA74 0BD8 2F6F
5,44391,Quiet 2-bedroom Amsterdam city centre apartment,194779,Jan,NaN,Centrum-Oost,52.371680,4.914710,Entire home/apt,240,3,44,2022-08-20,0.29,1,0,3,0363 E76E F06A C1DD 172C
6,311124,*historic centre* *bright* *canal view* *jordaan*,1600010,Anke & Robert,NaN,Centrum-West,52.371040,4.877130,Entire home/apt,325,5,87,2023-01-01,0.66,1,346,3,0363 59D8 7D30 6CFA DC81
7,49552,Multatuli Luxury Guest Suite in top location,225987,Joanna & MP,NaN,Centrum-West,52.380280,4.890890,Entire home/apt,257,3,462,2023-02-23,3.07,1,134,64,0363 576A D827 5085 6B83
8,729260,Great location modern apartment,3788198,Martin,NaN,Centrum-West,52.380790,4.885360,Entire home/apt,200,2,109,2021-08-30,0.87,1,102,0,0363 F6EF 50E3 40EB 1CFB
9,50263,Cent Adam Lux 2bed(4p) apt 125 sqm,230246,Donald,NaN,Centrum-Oost,52.371180,4.931460,Entire home/apt,395,4,163,2016-05-03,1.08,1,341,0,0363 7F3D 0BAE 28C8 C7D2
10,729317,Suite 2 Stay - studio Beautiful Barok - canal ...,3788673,Laurens En Petra,NaN,Centrum-Oost,52.360520,4.895680,Private room,129,3,126,2023-02-05,1.75,2,32,35,0363 EC5F 15FE 498F 9173
11,319985,Elegant Appartement Central Location.,1640702,J,NaN,De Pijp - Rivierenbuurt,52.356690,4.901870,Entire home/apt,244,1,492,2023-02-21,3.73,2,41,88,0363 7D88 E1E8 F521 9A10
12,50523,B & B de 9 Straatjes (city center),231946,Raymond,NaN,Centrum-West,52.368110,4.882620,Private room,133,2,385,2023-02-22,2.60,1,175,71,0363 22DC 0E52 B70B 0FB8
13,327285,beautiful designed ap.+bikes+garden,1672823,Ester,NaN,De Pijp - Rivierenbuurt,52.356250,4.893230,Private room,244,2,561,2023-03-04,4.19,2,13,26,0363 8A88 B129 62B5 BD4E
14,55709,Bright Loft in Centre Amsterdam,263233,Jan-Willem,NaN,Centrum-Oost,52.358112,4.897637,Entire home/apt,150,3,65,2022-10-16,0.44,1,2,3,0363 E295 7D15 8420 343E

In [32]:
df.tail(20)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
6978,840620916848834770,Prinsen Canal House,7081484,Margreet,NaN,Centrum-West,52.373807,4.884500,Entire home/apt,620,2,0,NaN,NaN,1,32,0,0363 8F72 A33B 6D77 4B18
6979,840998736742103053,Cosy houseboat ZIJP city center Amsterdam,497874880,James,NaN,Centrum-West,52.383179,4.893393,Entire home/apt,179,3,0,NaN,NaN,8,38,0,Exempt
6980,841074194156517363,Private Room For 6 Persons Amsterdam.,502914333,Akhmad,NaN,Oud-Noord,52.386227,4.922520,Private room,105,1,0,NaN,NaN,4,10,0,036366EF20D743B61576
6981,841090403098467770,Private Room For 8 Persons Amsterdam,502914333,Akhmad,NaN,Oud-Noord,52.384824,4.923171,Private room,130,1,0,NaN,NaN,4,11,0,036366EF20D743B61576
6982,841096875655032497,Comfort houseboat 'Greuns' city center,497874880,James,NaN,Centrum-West,52.383676,4.895279,Entire home/apt,399,3,0,NaN,NaN,8,52,0,Exempt
6983,841105366091232892,Appartement in Amsterdam,147773198,Bruna,NaN,De Baarsjes - Oud-West,52.366876,4.865876,Entire home/apt,260,3,0,NaN,NaN,1,26,0,0363 06B1 A1AF AB30 4839
6984,841117443694229109,"Private Room For 6 Persons Amsterdam,",502914333,Akhmad,NaN,Oud-Noord,52.385457,4.921354,Private room,100,1,0,NaN,NaN,4,11,0,036366EF20D743B61576
6985,841181281681397834,Apartment With Canal View,503665873,Stephan,NaN,De Pijp - Rivierenbuurt,52.349135,4.906245,Entire home/apt,260,2,0,NaN,NaN,1,27,0,0363 495D 8FB7 AE57 06CF
6986,841315399272116202,Heerlijk dijkhuis in Amsterdam,79999310,Niels,NaN,Noord-Oost,52.385614,4.953618,Entire home/apt,200,10,0,NaN,NaN,1,22,0,0363 2883 A96F D26D 01E3
6987,841366971794686235,Unique and light flat in the heart of the Jordaan,61362268,Harry,NaN,Centrum-West,52.373181,4.878198,Entire home/apt,145,1,0,NaN,NaN,1,4,0,0363 6FC9 A1F9 B6B1 5AA9
6988,841809115196485447,Cozy Apartment in Amsterdam,489588209,Erdi,NaN,De Baarsjes - Oud-West,52.372382,4.853072,Entire home/apt,123,1,0,NaN,NaN,1,17,0,03639CA614CEC3C11309
6989,841902301081548255,Premium Apartment for 10 Guests,504293182,Taylah,NaN,Centrum-West,52.373007,4.896472,Shared room,220,1,0,NaN,NaN,1,365,0,3455 8219 9147 4718 018C
6990,842020795679727868,Lady Luck,83622943,Chrit,NaN,De Baarsjes - Oud-West,52.372414,4.872523,Entire home/apt,220,2,0,NaN,NaN,1,83,0,0363 84FE B644 438A 86EF
6991,842068693108341914,Stylish apt in Iconic building,3041589,Valeria,NaN,IJburg - Zeeburgereiland,52.363984,4.980492,Entire home/apt,390,4,0,NaN,NaN,1,7,0,0363 93A4 A9B4 701F B02A
6992,842417874517991275,Unique Amsterdam appartement with roofterras,58158635,Lilie,NaN,De Pijp - Rivierenbuurt,52.346621,4.887846,Entire home/apt,272,4,0,NaN,NaN,1,331,0,0363 5452 FA3F 9A6A 4494
6993,842462220391708128,Flat in the center of Amsterdam,47205615,Edgar,NaN,Centrum-Oost,52.359386,4.893717,Entire home/apt,450,1,0,NaN,NaN,1,70,0,0363 80A2 E913 8FAD A98A
6994,842493348876281257,3bed ark close to city centre,454835217,Barbara,NaN,Oud-Noord,52.401950,4.902256,Entire home/apt,360,2,0,NaN,NaN,1,357,0,0363 B755 6BD8 6F8D AA7F
6995,842634905680862660,ground floor studio 46m2 at boulevard & canal,504448710,Ivanka,NaN,Oud-Noord,52.393502,4.899826,Entire home/apt,92,3,0,NaN,NaN,1,67,0,0363 76A0 B46B 281A C38E
6996,842713539293550316,Oasis in trendy Amsterdam East,17537276,Thomas,NaN,Watergraafsmeer,52.351350,4.920430,Entire home/apt,250,1,0,NaN,NaN,1,315,0,0363 97C2 71FF 5383 DC95
6997,842754604161195632,Penthouse Loft with a View,20336096,Sean,NaN,Oud-Noord,52.388888,4.922216,Entire home/apt,333,2,0,NaN,NaN,1,5,0,0363 A514 512A A671 03A3

In [33]:
df.shape

(6998, 18)

In [34]:
df.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group               float64
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
number_of_reviews_ltm               int64
license                            object
dtype: object

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6998 entries, 0 to 6997
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              6998 non-null   int64
 1   name                            6998 non-null   object
 2   host_id                         6998 non-null   int64
 3   host_name                       6998 non-null   object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   6998 non-null   object
 6   latitude                        6998 non-null   float64
 7   longitude                       6998 non-null   float64
 8   room_type                       6998 non-null   object
 9   price                           6998 non-null   int64
 10  minimum_nights                  6998 non-null   int64
 11  number_of_reviews               6998 non-null   int64
 12  last_review                     6316 non-null   object
 13  reviews_per_month               6316 non-null   float64
 14  calculated_host_listings_count  6998 non-null   int64
 15  availability_365                6998 non-null   int64
 16  number_of_reviews_ltm           6998 non-null   int64
 17  license                         6974 non-null   object
dtypes: float64(4), int64(8), object(6)
memory usage: 984.2+ KB

### What if you want specific data in specific rows?

We use `loc` and `iloc` to slice/locate data

This is the logic 

locate -> rows by index, columns either by colname/colindex


`loc[rowindex, colname]`

`iloc[rowindex, colindex]`

In [36]:
df.shape

(6998, 18)

In [44]:
#loc[rowindex, colname]
df.loc[2000:2001,:]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
2000,18100319,Spacious family loft in quiet street old centre,79450360,Suzanne,NaN,Centrum-Oost,52.35966,4.8924,Entire home/apt,371,2,55,2023-01-15,0.87,1,256,3,03639447E7824FFF2521
2001,18886577,"Nice Room Amsterdam, EnsuiteBathroom/Netflix/B...",130649752,Mi BnB,NaN,Geuzenveld - Slotermeer,52.38348,4.8267,Private room,85,3,119,2023-01-23,1.74,2,197,8,0363 ECE2 5C63 874D B72E

In [45]:
## numpy indexing
## iloc [rowindex, colindex]
df.iloc[2000:2001, :]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
2000,18100319,Spacious family loft in quiet street old centre,79450360,Suzanne,NaN,Centrum-Oost,52.35966,4.8924,Entire home/apt,371,2,55,2023-01-15,0.87,1,256,3,03639447E7824FFF2521

### Saving dataframes to files

Use `DataFrame.to_format(filename)`

In [69]:
df.to_excel('data.xlsx', index=False)

In [70]:
df.to_json('data.json')

 You can also read data from other formats like Excel, JSON, SQL, etc. by using appropriate Pandas functions such as 

pd.read_excel(),

pd.read_json(), 
 
or pd.read_sql().

In [71]:
df2 = pd.read_excel('data.xlsx')

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2818,Quiet Garden View Room & Super Fast Wi-Fi,3159,Daniel,NaN,Oostelijk Havengebied - Indische Buurt,52.364350,4.943580,Private room,69,3,322,2023-02-28,1.90,1,44,37,0363 5F3A 5684 6750 D14D
1,20168,Studio with private bathroom in the centre 1,59484,Alexander,NaN,Centrum-Oost,52.364070,4.893930,Private room,106,1,339,2020-04-09,2.14,2,0,0,0363 CBB3 2C10 0C2A 1E29
2,27886,"Romantic, stylish B&B houseboat in canal district",97647,Flip,NaN,Centrum-West,52.387610,4.891880,Private room,143,3,248,2023-02-26,1.82,1,14,20,0363 974D 4986 7411 88D8
3,28871,Comfortable double room,124245,Edwin,NaN,Centrum-West,52.367750,4.890920,Private room,76,2,476,2023-02-28,3.12,2,79,97,0363 607B EA74 0BD8 2F6F
4,29051,Comfortable single room,124245,Edwin,NaN,Centrum-Oost,52.365840,4.891110,Private room,56,2,618,2023-03-03,4.23,2,69,85,0363 607B EA74 0BD8 2F6F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6993,842462220391708160,Flat in the center of Amsterdam,47205615,Edgar,NaN,Centrum-Oost,52.359386,4.893717,Entire home/apt,450,1,0,NaN,NaN,1,70,0,0363 80A2 E913 8FAD A98A
6994,842493348876281216,3bed ark close to city centre,454835217,Barbara,NaN,Oud-Noord,52.401950,4.902256,Entire home/apt,360,2,0,NaN,NaN,1,357,0,0363 B755 6BD8 6F8D AA7F
6995,842634905680862720,ground floor studio 46m2 at boulevard & canal,504448710,Ivanka,NaN,Oud-Noord,52.393502,4.899826,Entire home/apt,92,3,0,NaN,NaN,1,67,0,0363 76A0 B46B 281A C38E
6996,842713539293550336,Oasis in trendy Amsterdam East,17537276,Thomas,NaN,Watergraafsmeer,52.351350,4.920430,Entire home/apt,250,1,0,NaN,NaN,1,315,0,0363 97C2 71FF 5383 DC95
6997,842754604161195648,Penthouse Loft with a View,20336096,Sean,NaN,Oud-Noord,52.388888,4.922216,Entire home/apt,333,2,0,NaN,NaN,1,5,0,0363 A514 512A A671 03A3

In [72]:
pd.read_json('data.json')

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2818,Quiet Garden View Room & Super Fast Wi-Fi,3159,Daniel,NaN,Oostelijk Havengebied - Indische Buurt,52.364350,4.943580,Private room,69,3,322,2023-02-28,1.90,1,44,37,0363 5F3A 5684 6750 D14D
1,20168,Studio with private bathroom in the centre 1,59484,Alexander,NaN,Centrum-Oost,52.364070,4.893930,Private room,106,1,339,2020-04-09,2.14,2,0,0,0363 CBB3 2C10 0C2A 1E29
2,27886,"Romantic, stylish B&B houseboat in canal district",97647,Flip,NaN,Centrum-West,52.387610,4.891880,Private room,143,3,248,2023-02-26,1.82,1,14,20,0363 974D 4986 7411 88D8
3,28871,Comfortable double room,124245,Edwin,NaN,Centrum-West,52.367750,4.890920,Private room,76,2,476,2023-02-28,3.12,2,79,97,0363 607B EA74 0BD8 2F6F
4,29051,Comfortable single room,124245,Edwin,NaN,Centrum-Oost,52.365840,4.891110,Private room,56,2,618,2023-03-03,4.23,2,69,85,0363 607B EA74 0BD8 2F6F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6993,842462220391708128,Flat in the center of Amsterdam,47205615,Edgar,NaN,Centrum-Oost,52.359386,4.893717,Entire home/apt,450,1,0,None,NaN,1,70,0,0363 80A2 E913 8FAD A98A
6994,842493348876281257,3bed ark close to city centre,454835217,Barbara,NaN,Oud-Noord,52.401950,4.902256,Entire home/apt,360,2,0,None,NaN,1,357,0,0363 B755 6BD8 6F8D AA7F
6995,842634905680862660,ground floor studio 46m2 at boulevard & canal,504448710,Ivanka,NaN,Oud-Noord,52.393502,4.899826,Entire home/apt,92,3,0,None,NaN,1,67,0,0363 76A0 B46B 281A C38E
6996,842713539293550316,Oasis in trendy Amsterdam East,17537276,Thomas,NaN,Watergraafsmeer,52.351350,4.920430,Entire home/apt,250,1,0,None,NaN,1,315,0,0363 97C2 71FF 5383 DC95
6997,842754604161195632,Penthouse Loft with a View,20336096,Sean,NaN,Oud-Noord,52.388888,4.922216,Entire home/apt,333,2,0,None,NaN,1,5,0,0363 A514 512A A671 03A3

# Data Import and Export

Pandas provides several functions to read and write data from and to various file formats, making it easy to work with different data sources and formats.

### Reading Data from Various File Formats

#### 1. CSV
To read data from a CSV (Comma Separated Values) file, you can use the pd.read_csv() function.

In [54]:
import pandas as pd

file_path = 'data/listings.csv'
df = pd.read_csv(file_path)
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2818,Quiet Garden View Room & Super Fast Wi-Fi,3159,Daniel,NaN,Oostelijk Havengebied - Indische Buurt,52.364350,4.943580,Private room,69,3,322,2023-02-28,1.90,1,44,37,0363 5F3A 5684 6750 D14D
1,20168,Studio with private bathroom in the centre 1,59484,Alexander,NaN,Centrum-Oost,52.364070,4.893930,Private room,106,1,339,2020-04-09,2.14,2,0,0,0363 CBB3 2C10 0C2A 1E29
2,27886,"Romantic, stylish B&B houseboat in canal district",97647,Flip,NaN,Centrum-West,52.387610,4.891880,Private room,143,3,248,2023-02-26,1.82,1,14,20,0363 974D 4986 7411 88D8
3,28871,Comfortable double room,124245,Edwin,NaN,Centrum-West,52.367750,4.890920,Private room,76,2,476,2023-02-28,3.12,2,79,97,0363 607B EA74 0BD8 2F6F
4,29051,Comfortable single room,124245,Edwin,NaN,Centrum-Oost,52.365840,4.891110,Private room,56,2,618,2023-03-03,4.23,2,69,85,0363 607B EA74 0BD8 2F6F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6993,842462220391708128,Flat in the center of Amsterdam,47205615,Edgar,NaN,Centrum-Oost,52.359386,4.893717,Entire home/apt,450,1,0,NaN,NaN,1,70,0,0363 80A2 E913 8FAD A98A
6994,842493348876281257,3bed ark close to city centre,454835217,Barbara,NaN,Oud-Noord,52.401950,4.902256,Entire home/apt,360,2,0,NaN,NaN,1,357,0,0363 B755 6BD8 6F8D AA7F
6995,842634905680862660,ground floor studio 46m2 at boulevard & canal,504448710,Ivanka,NaN,Oud-Noord,52.393502,4.899826,Entire home/apt,92,3,0,NaN,NaN,1,67,0,0363 76A0 B46B 281A C38E
6996,842713539293550316,Oasis in trendy Amsterdam East,17537276,Thomas,NaN,Watergraafsmeer,52.351350,4.920430,Entire home/apt,250,1,0,NaN,NaN,1,315,0,0363 97C2 71FF 5383 DC95
6997,842754604161195632,Penthouse Loft with a View,20336096,Sean,NaN,Oud-Noord,52.388888,4.922216,Entire home/apt,333,2,0,NaN,NaN,1,5,0,0363 A514 512A A671 03A3

#### 2. Excel
To read data from an Excel file, you can use the pd.read_excel() function. You may need to install the openpyxl package to read Excel files.

In [63]:
import pandas as pd

file_path = 'data.xlsx'
df = pd.read_excel(file_path, sheet_name='Sheet1')
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2818,Quiet Garden View Room & Super Fast Wi-Fi,3159,Daniel,NaN,Oostelijk Havengebied - Indische Buurt,52.364350,4.943580,Private room,69,3,322,2023-02-28,1.90,1,44,37,0363 5F3A 5684 6750 D14D
1,20168,Studio with private bathroom in the centre 1,59484,Alexander,NaN,Centrum-Oost,52.364070,4.893930,Private room,106,1,339,2020-04-09,2.14,2,0,0,0363 CBB3 2C10 0C2A 1E29
2,27886,"Romantic, stylish B&B houseboat in canal district",97647,Flip,NaN,Centrum-West,52.387610,4.891880,Private room,143,3,248,2023-02-26,1.82,1,14,20,0363 974D 4986 7411 88D8
3,28871,Comfortable double room,124245,Edwin,NaN,Centrum-West,52.367750,4.890920,Private room,76,2,476,2023-02-28,3.12,2,79,97,0363 607B EA74 0BD8 2F6F
4,29051,Comfortable single room,124245,Edwin,NaN,Centrum-Oost,52.365840,4.891110,Private room,56,2,618,2023-03-03,4.23,2,69,85,0363 607B EA74 0BD8 2F6F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6993,842462220391708160,Flat in the center of Amsterdam,47205615,Edgar,NaN,Centrum-Oost,52.359386,4.893717,Entire home/apt,450,1,0,NaN,NaN,1,70,0,0363 80A2 E913 8FAD A98A
6994,842493348876281216,3bed ark close to city centre,454835217,Barbara,NaN,Oud-Noord,52.401950,4.902256,Entire home/apt,360,2,0,NaN,NaN,1,357,0,0363 B755 6BD8 6F8D AA7F
6995,842634905680862720,ground floor studio 46m2 at boulevard & canal,504448710,Ivanka,NaN,Oud-Noord,52.393502,4.899826,Entire home/apt,92,3,0,NaN,NaN,1,67,0,0363 76A0 B46B 281A C38E
6996,842713539293550336,Oasis in trendy Amsterdam East,17537276,Thomas,NaN,Watergraafsmeer,52.351350,4.920430,Entire home/apt,250,1,0,NaN,NaN,1,315,0,0363 97C2 71FF 5383 DC95
6997,842754604161195648,Penthouse Loft with a View,20336096,Sean,NaN,Oud-Noord,52.388888,4.922216,Entire home/apt,333,2,0,NaN,NaN,1,5,0,0363 A514 512A A671 03A3

#### 3. JSON
To read data from a JSON (JavaScript Object Notation) file, you can use the pd.read_json() function.

In [65]:
import pandas as pd

file_path = 'data.json'
df = pd.read_json(file_path)
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2818,Quiet Garden View Room & Super Fast Wi-Fi,3159,Daniel,NaN,Oostelijk Havengebied - Indische Buurt,52.364350,4.943580,Private room,69,3,322,2023-02-28,1.90,1,44,37,0363 5F3A 5684 6750 D14D
1,20168,Studio with private bathroom in the centre 1,59484,Alexander,NaN,Centrum-Oost,52.364070,4.893930,Private room,106,1,339,2020-04-09,2.14,2,0,0,0363 CBB3 2C10 0C2A 1E29
2,27886,"Romantic, stylish B&B houseboat in canal district",97647,Flip,NaN,Centrum-West,52.387610,4.891880,Private room,143,3,248,2023-02-26,1.82,1,14,20,0363 974D 4986 7411 88D8
3,28871,Comfortable double room,124245,Edwin,NaN,Centrum-West,52.367750,4.890920,Private room,76,2,476,2023-02-28,3.12,2,79,97,0363 607B EA74 0BD8 2F6F
4,29051,Comfortable single room,124245,Edwin,NaN,Centrum-Oost,52.365840,4.891110,Private room,56,2,618,2023-03-03,4.23,2,69,85,0363 607B EA74 0BD8 2F6F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6993,842462220391708160,Flat in the center of Amsterdam,47205615,Edgar,NaN,Centrum-Oost,52.359386,4.893717,Entire home/apt,450,1,0,None,NaN,1,70,0,0363 80A2 E913 8FAD A98A
6994,842493348876281216,3bed ark close to city centre,454835217,Barbara,NaN,Oud-Noord,52.401950,4.902256,Entire home/apt,360,2,0,None,NaN,1,357,0,0363 B755 6BD8 6F8D AA7F
6995,842634905680862720,ground floor studio 46m2 at boulevard & canal,504448710,Ivanka,NaN,Oud-Noord,52.393502,4.899826,Entire home/apt,92,3,0,None,NaN,1,67,0,0363 76A0 B46B 281A C38E
6996,842713539293550336,Oasis in trendy Amsterdam East,17537276,Thomas,NaN,Watergraafsmeer,52.351350,4.920430,Entire home/apt,250,1,0,None,NaN,1,315,0,0363 97C2 71FF 5383 DC95
6997,842754604161195648,Penthouse Loft with a View,20336096,Sean,NaN,Oud-Noord,52.388888,4.922216,Entire home/apt,333,2,0,None,NaN,1,5,0,0363 A514 512A A671 03A3

#### 4. SQL
To read data from an SQL database, you can use the pd.read_sql() or pd.read_sql_query() functions. 

First, you need to establish a connection to the database using an appropriate Python library such as sqlite3 for SQLite databases or pymysql for MySQL databases.

In [ ]:
! pip install pymysql
! pip install sqlachemy

In [ ]:
import pymysql
from sqlalchemy import create_engine
# Set up the database connection parameters
user = 'root'
password = 'yourpassword'
host = 'localhost'
database = 'jumiaa_store'

# Connect to the MySQL database
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}/{database}")

In [66]:
query = "SELECT * FROM customers"
df = pd.read_sql_query(query, engine)
df

,customer_id,first_name,last_name,birth_date,phone,address,city,state,points
0,1,Joe,Mutale,1986-03-28,781-932-9754,0 Saace,Nairobi,MA,2273
1,2,Fred,Vilakati,1986-04-13,804-427-9456,Coml,Cape,VA,947
2,3,Brian,Muyuda,1985-02-07,719-724-7869,Junction,Dodoma,CO,2967
3,4,John,Muchiri,1974-04-14,407-231-8017,Terrace,Mombasa,FL,457
4,5,Clemmie,Banda,1973-11-07,None,5 Spohn,Kisumu,Ks,3675
5,6,Elka,Nyambura,1991-09-04,312-480-8498,14Drive,Kampala,IL,3073
6,7,Ilene,Otile,1964-08-30,615-641-4759,Crossing,Lusaka,TN,1672
7,8,Chirs,Brown,1993-07-17,941-527-3977,Center,Abuja,FL,205
8,9,Mutula,Kilonzo,1992-05-23,559-181-3744,Trail,Addis,CA,1486
9,10,Uhuru,Corupt,1969-10-13,404-246-3370,Avenue,Lagos,GA,796

### Writing Data to Various File Formats


#### 1. CSV
To write data to a CSV file, you can use the to_csv() method of the DataFrame.

In [ ]:
import pandas as pd

data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'age': [25, 30, 35, 40],
    'city': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)

file_path = 'data/output_data.csv'
df.to_csv(file_path, index=False)

### 2. Excel
To write data to an Excel file, you can use the to_excel() method of the DataFrame. You may need to install the openpyxl package to write Excel files.

In [ ]:
import pandas as pd

data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'age': [25, 30, 35, 40],
    'city': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)

file_path = 'data/output_data.xlsx'
df.to_excel(file_path, index=False, sheet_name='Sheet1')

#### 3. JSON
To write data to a JSON file, you can use the to_json() method of the DataFrame.

In [ ]:
import pandas as pd

data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'age': [25, 30, 35, 40],
    'city': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)

file_path = 'output_data.json'
df.to_json(file_path, orient='records')

#### 4. SQL
To write data to an SQL database , you can use the to_sql() method of the DataFrame. 

First, you need to establish a connection to the database using an appropriate Python library such as sqlite3 for

SQLite databases or 

pymysql for MySQL databases.

Here's an example with MySQL database using the pymysql library:

In [60]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'age': [25, 30, 35, 40],
    'city': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)

# Set up the database connection parameters
user = 'root'
password = 'yourpassword'
host = 'localhost'
database = 'jumiaa_store'

# Connect to the MySQL database
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}/{database}")

# Write data to the database
table_name = 'employees'
df.to_sql(table_name, engine, if_exists='replace', index=False)

# Close the connection
engine.dispose()

# Data Exploration and Analysis

Pandas provides numerous functions and methods to explore and analyze data, which are essential for understanding the dataset and making informed decisions.

### Head and Tail
Pandas provides head() and tail() methods for quickly previewing the first and last rows of a DataFrame, respectively.

In [ ]:
import pandas as pd

data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank'],
    'age': [25, 30, 35, 40, 45, 50],
    'city': ['New York', 'San Francisco', 'Los Angeles', 'Chicago', 'Miami', 'Boston']
}
df = pd.DataFrame(data)

# Display the first 3 rows
df.head(3)

# Display the last 2 rows
df.tail(2)

### Indexing and Slicing Data

Pandas provides several methods to index and slice data in a DataFrame, such as .loc[], .iloc[], and .at[].

#### 1. Using .loc[]
The .loc[] method allows you to index and slice data by label. You can select rows, columns, or both, using row and column labels.

In [ ]:
import pandas as pd

data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'age': [25, 30, 35, 40],
    'city': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data, index=['A', 'B', 'C', 'D'])

# Select a single row by index label
print(df.loc['A'])

# Select multiple rows by index labels
print(df.loc[['A', 'C']])

# Select a single value using row and column labels
print(df.loc['A', 'city'])

# Slice rows and select specific columns
print(df.loc['A':'C', ['name', 'age']])

#### 2. Using .iloc[]
The .iloc[] method allows you to index and slice data by integer position. You can select rows, columns, or both, using row and column indices.

In [ ]:
import pandas as pd

data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'age': [25, 30, 35, 40],
    'city': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)

# Select a single row by index position
print(df.iloc[0])

# Select multiple rows by index positions
print(df.iloc[[0, 2]])

# Select a single value using row and column positions
print(df.iloc[0, 2])

# Slice rows and select specific columns
print(df.iloc[0:3, 0:2])

#### 3. Using .at[]
The .at[] method allows you to access a single value in a DataFrame by row and column labels.

In [48]:
import pandas as pd

data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'age': [25, 30, 35, 40],
    'city': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data, index=['A', 'B', 'C', 'D'])
df

# Access a single value using row and column labels

      name  age           city
A    Alice   25       New York
B      Bob   30  San Francisco
C  Charlie   35    Los Angeles
D    David   40        Chicago

In [51]:
print(df.at['D', 'name'])

David

In [52]:
df.loc['D', 'name']

'David'

## Challenge

Practice loading data from any format within your pc and also once loaded try saving it to other file formats to practice on reading and writing files using pandas